@charset "utf-8";

/* 기본 설정
================================================== */
/* 문서 전체 크기, 여백 설정
-------------------------------------------------- */
html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}
/* Float 처리 클래스 
-------------------------------------------------- */

.pull-left {
  float: left;
}
.pull-right {
  float: right;
}
.clearfix::after {
  content: "";
  display: block;
  float: none;
  clear: both;
}

/* 상단 메뉴바 영역 설정
================================================== */

/* 상단 메뉴바 크기, 여백 설정
-------------------------------------------------- */
.site-header {
  overflow: hidden;
  height: 55px;
  width: 100%;
  position: absolute;
}

/* 상단 메뉴바 > 상단 메뉴영역 > 상단 메뉴 목록 
-------------------------------------------------- */
.site-header a {
  font-size: 17px;
  color: #000;
  margin: 17px 19px;
  text-decoration: none;
}

/* 본문 > HOME 영역 처리
================================================== */

/* HOME 영역 설정,배경이미지 처리
-------------------------------------------------- */
.hometopimg {
  min-height: 100%;
  width: auto;
  background-image: url(img/parallax1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.75;
  position: relative;
  background-position: center;
}

/* HOME 영역 > 텍스트 영역 처리
-------------------------------------------------- */
.ht-imglogbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* HOME 영역 > 텍스트 처리
-------------------------------------------------- */
.ht-imglog {
  font-size: 25px;
  padding: 15px 25px;
  color: #fff;
  text-align: center;
  background-color: #000;
  letter-spacing: 10px;
}

/* 본문 > ABOUT ME 영역 설정
================================================== */
.aboutme {
  max-width: 950px;
  min-height: 800px;
  margin: auto;
  color: #616161;
  padding: 60px 10px 60px 10px;
}

/* ABOUT ME 영역 > 텍스트 처리
-------------------------------------------------- */
.aboutme h2 {
  width: 400px;
  margin: 40px auto 30px auto;
  font-size: 25px;
  text-align: center;
}

.aboutme .am-second-title {
  width: 400px;
  margin: 20px auto;
  font-size: 16px;
  text-align: center;
  font-style: italic;
}

.aboutme > p {
  width: auto;
  padding: 0 20px 0 20px;
  margin: 20px auto;
  font-size: 16px;
  text-align: left;
  line-height: 28px;
}

/* ABOUT ME 영역 > My Name 영역 이미지, 텍스트 처리
-------------------------------------------------- */

.am-myname {
  width: 100%;
}

.myname-i {
  width: 50%;
  padding: 12px 24px;
  float: left;
}

.am-myname img:hover {
  opacity: 1;
}

.myname-i > p {
  text-align: center;
  margin-left: -45px;
  margin-bottom: 50px;
  font-weight: bold;
}

.am-myname img {
  width: 90%;
  opacity: 0.5;
}

.myname-p {
  padding: 0 30px 0 0;
  margin: 25px;
  line-height: 25px;
  font-size: 16px;
}

/* Im really good 영역 > 텍스트 처리
-------------------------------------------------- */

.aboutme > .imgood {
  padding-top: 16px;
  padding-bottom: 16px;
  text-align: center;
  font-size: 19px;
  font-weight: 500;
}

.imgoodat {
  letter-spacing: 10px;
}

/* Im really good 영역 > 그래프 처리
-------------------------------------------------- */
.imgoodback {
  background-color: #f1f1f1;
}

.imgoodper1 {
  width: 90%;
  color: #fff;
  background-color: #616161;
  padding: 10px 8px;
  text-align: center;
}

.imgoodper2 {
  width: 85%;
  color: #fff;
  background-color: #616161;
  padding: 10px 8px;
  text-align: center;
}

.imgoodper3 {
  width: 75%;
  color: #fff;
  background-color: #616161;
  padding: 10px 8px;
  text-align: center;
}

/* 본문 > Portfolio 영역 처리
================================================== */

/* 바 영역 처리
-------------------------------------------------- */
.portbar {
  color: #fff;
  background-color: #616161;
  text-align: center;
}

.pb {
  float: left;
  margin-top: 16px;
  margin-bottom: 16px;
  padding: 25px 0 25px 0;
  width: 25%;
}

.pb-n {
  display: inline-block;
  font-size: 25px;
  margin-bottom: 10px;
}

/* Portfoild 영역 처리,배경이미지 처리
-------------------------------------------------- */
.port-img {
  width: 100%;
  min-height: 45%;
  background-image: url(img/parallax2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.75;
  position: relative;
  background-position: center;
}

/* 텍스트 영역 처리
  -------------------------------------------------- */
.port-imglogbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 텍스트 처리
  -------------------------------------------------- */
.port-imglog {
  font-size: 38px;
  padding: 15px 25px;
  color: #fff;
  text-align: center;
  letter-spacing: 10px;
}

/* 본문 > contact 영역 처리
================================================== */
.contact-img {
  width: 100%;
  min-height: 45%;
  background-image: url(img/parallax3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  opacity: 0.75;
  position: relative;
  background-position: center 250px;
}

/* 텍스트 영역 처리
    -------------------------------------------------- */
.contact-imglogbox {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* 텍스트 처리
    -------------------------------------------------- */
.contact-imglog {
  font-size: 38px;
  padding: 15px 25px;
  color: #fff;
  text-align: center;
  letter-spacing: 10px;
}

/* My work 영역처리
-------------------------------------------------- */
.mywork {
  max-width: 950px;
  min-height: 800px;
  margin: auto;
  color: #616161;
  padding: 70px 10px 0 10px;
}
/* My work 영역처리 > 텍스트 처리
-------------------------------------------------- */
.mywork h2 {
  width: 400px;
  margin: 30px auto 30px auto;
  font-size: 26px;
  text-align: center;
  color: #616161;
  font-weight: 400;
}

.mw-second-title {
  width: 400px;
  margin: 20px auto;
  font-size: 16px;
  text-align: center;
  font-style: italic;
  color: #616161;
  line-height: 30px;
}

/* My work 이미지 영역 처리
-------------------------------------------------- */
.myworkphoto {
  width: auto;
  margin: auto;
  padding: 8px;
  text-align: center;
}

.mw-p {
  width: 25%;
  float: left;
}

.mw-p > img {
  width: 100%;

  vertical-align: middle;
}

/* My work 버튼 처리
-------------------------------------------------- */
.mw-button {
  font-size: 16px;
  margin-top: 64px;
  vertical-align: middle;
  display: inline-block;
  text-align: center;
  border: none;
  padding: 18px 25px 18px 25px;
}

/* 이미지 처리
  -------------------------------------------------- */
.send {
  width: auto;
  padding: 30px 0 130px 0;
}

.sendimg {
  width: 33%;
  padding: 0 16px;
}

.sendimg > img {
  width: 100%;
  border-radius: 4px;
  vertical-align: middle;
  float: left;
}

/* 텍스트 처리
  -------------------------------------------------- */
.send .sending {
  width: 65%;
  margin-top: 16px;
  margin-bottom: 16px;
  float: left;
}

/* 위치,전화번호,주소처리
  -------------------------------------------------- */
.sendtext {
  line-height: 30px;
  color: #616161;
  font-size: 19px;
  padding: 30px 0 0 40px;
}

.sending p {
  line-height: 30px;
  color: #616161;
  font-size: 15px;
  padding: 10px 0 0 40px;
}

/* form 영역 처리
  -------------------------------------------------- */
.bigform {
  padding: 10px 0 5px 40px;
}

.form {
  float: left;
  padding: 0 20px 0 0;
}

.form > input {
  width: 260px;
  height: 20px;
  padding: 10px 0 10px 5px;
  border: 1px solid #bbb;
}

.messageform {
  width: 548px;
  height: 20px;
  padding: 10px 0 10px 5px;
  border: 1px solid #bbb;
  margin: 5px 0 0 40px;
}

.button {
  float: right;
  font-size: 15px;
  margin: 20px 23px 0 0;
  padding: 12px 0 12px 5px;
  width: 160px;
  background-color: #000;
  color: #fff;
  border: none;
}

/* 하단 영역 처리
================================================== */

/* footer 영역 처리
  -------------------------------------------------- */
.footer {
  background-color: black;
  opacity: 0.6;
  height: 160px;
  padding: 64px 64px;
  position: relative;
}

.footer:hover {
  opacity: 1;
}

.footer > a {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 15px;
  width: 130px;
  background-color: #fff;
  color: #000;
  border: none;
  text-decoration: none;
  padding: 12px 0 12px 5px;
  text-align: center;
}

.footer > p {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 16px;
  width: 130px;
  color: #fff;
  border: none;
  text-decoration: none;
  padding: 12px 0 12px 5px;
  text-align: center;
}
